{% extends 'base.html' %}

{% block head %}
  <title>Add argument or counterargument</title>
{% endblock %}

{% block body %}
  <a class="btn btn-secondary" href="/node/{{root.id}}"><< go back</a>
  <div class="container">
    <br>
    <b>{{ node }}</b>
    <form action="/node/add/{{node.id}}/" method="post">
        {% csrf_token %}
        <br>
        <label for="text">Enter your argument/counterargument:</label>
        <textarea class="form-control" name="text" id="text" rows="5"></textarea>
        <br>
        <input type="checkbox" name="isArgument" id="isArgument" />
        <label for="isArgument">It is argument</label>
        <br>
        <br>
        <input class="btn btn-primary" type="submit" value="submit">
    </form>
  </div>
{% endblock %}
