{% extends 'base.html' %}

{% block head %}
  <title>Add claim</title>
{% endblock %}

{% block body %}
  <a class="btn btn-secondary" href="/"><< go back</a>
  <br><br>
  <div class="container">
    <form action="/node/add/" method="post">
        {% csrf_token %}
        <label for="text">Write your claim without arguments:</label>
        <br>
        <textarea class="form-control" name="text" id="text" rows="5"></textarea>
        <br>
        <input class="btn btn-primary" type="submit" value="submit">
    </form>
  </div>
{% endblock %}
